dataset/
datasets/
ignore/
models/
misc/

media/
*.mp4
*.mkv
*.hevc

__pycache__/
*.pyc

venv/
env/

.ipynb_checkpoints/

.kaggle/
.env

logs/
*.log

temp.txt

*.h5
*.pt
*.pth
*.csv
*.xls
*.xlsx
*.pkl
*.db